/*
 * LAYOUT CSS
 */
/*-------------------------------------------------------------------*/
/*                              Reset                                */
/*-------------------------------------------------------------------*/
body,
.comment,
#logo,
#branding,
#site-slogan,
#content-inner,
#sidebar-left .block,
#sidebar-right .block,
#header-blocks .block,
#content-top .block,
#content-bottom .block,
#footer .block .content,
#forum td.forum,
#forum .name a,
#forum .description,
div.admin-panel,
li,
.item-list ul,
ul.images li h3,
div.item-list ul.pager li,
ul.pager li,
.tabs ul,
div.page-links a.page-previous,
div.page-links a.page-up,
div.page-links a.page-next,
ul.images li h3 {
  padding: 0; 
  margin: 0;
}
/*-------------------------------------------------------------------*/
/*                              Page                                 */
/*-------------------------------------------------------------------*/
#page {
  margin: 0 auto;
  padding: 0px;
}
/*-------------------------------------------------------------------*/
/*                             Skip to                               */
/*-------------------------------------------------------------------*/
#skip-to-content {
  height: 0; 
		overflow: hidden;
  font-size: 0.8em;
}
/*-------------------------------------------------------------------*/
/*                               Header                              */
/*-------------------------------------------------------------------*/
#header {
  margin: 0 0 15px 0;
  padding: 0;
}
#logo {
  padding: 0;
  height: 120px;
  float: left;
  overflow: hidden;
}
#head-elements {
  height: auto;
  margin:0 15px;
  #margin:0 15px;
  _margin:0 15px 0 8px;
  padding: 0;
  width:466px;
  float:left;
}
#header-bottom
{
margin-top:5px;
}
#site-name h1, 
div#site-name {
  margin: 0;
  padding:19px 0 3px;
}
#site-slogan em {
  font-style: normal;
  margin: 0;
}
#search-box {
  float: right;
  position: relative;
  margin: 35px 20px 0pt 0pt; /* pull the search box into position */
  padding: 0;
}
/*-------------------------------------------------------------------*/
/*                   Additional Regions & blocks                     */
/*-------------------------------------------------------------------*/
#content-top .block-wrapper, 
#content-bottom .block-wrapper{
background:SeaShell none repeat scroll 0 0;
border:1px solid SandyBrown;
clear:both;
padding:10px;
text-align:left;
margin-bottom:10px;
}
.sidebar-left #content-top .block-wrapper .block-content,
.sidebar-left #content-area .block-wrapper .block-content,
.sidebar-left #content-bottom .block-wrapper .block-content
{
width:463px;
}
.sidebar-right #content-top .block-wrapper .block-content,
.sidebar-right #content-area .block-wrapper .block-content,
.sidebar-right #content-bottom .block-wrapper .block-content
{
width:463px;
}
.no-sidebars #content-top .block-wrapper .block-content,
.no-sidebars #content-area .block-wrapper .block-content,
.no-sidebars #content-bottom .block-wrapper .block-content
{
width:683px;
}
.two-sidebars #content-top .block-wrapper .block-content,
.two-sidebars #content-area .block-wrapper .block-content,
.two-sidebars #content-bottom .block-wrapper .block-content
{
width:243px;
}



.block-content-inner p 
{
margin-bottom:0px;
}
.block-content-inner p img
{
margin-bottom:0px;
}
#header-blocks
{
padding:15px;
}
#header-blocks .block-wrapper {
background:SeaShell none repeat scroll 0 0;
border:1px solid SandyBrown;
padding:10px;
text-align:left;
margin-bottom:10px;
}
#content-area .block-wrapper {
background:SeaShell none repeat scroll 0 0;
border:1px solid SandyBrown;
clear:both;
padding:10px;
text-align:left;
margin-bottom:10px;
}
#header-blocks .block-inner, 
#content-top .block-inner, 
#content-bottom .block-inner { margin: 0 auto; }
/*-------------------------------------------------------------------*/
/*                              Main                                 */
/*-------------------------------------------------------------------*/
#main {
  position: relative;
  padding:15px 15px 15px 15px;
  background:#fff;
}
.two-sidebars #main {
  padding:15px 0px 15px 0px;
}
.sidebar-left #main {
  padding:15px 15px 15px 0px;
}

.sidebar-right #main {
  padding:15px 0px 15px 15px;
}

#main-inner {}
/*-------------------------------------------------------------------*/
/*                            Content                                */
/*-------------------------------------------------------------------*/
#content {
  float: left;
  width: 100%;
  margin-left: 0;
  margin-right: -100%; /* Negative value of #content's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #content-inner. */
}
.two-sidebars #content-inner {
  padding-left: 235px; /* The width + left margin of #sidebar-left. */
  padding-right: 235px; /* The width + right margin of #sidebar-right. */
}
.sidebar-left #content-inner {
  padding-left: 235px; /* The width + left margin of #sidebar-left. */
}
.sidebar-right #content-inner {
  padding-right: 235px; /* The width + right margin of #sidebar-right. */
}
.node-full-view.two-sidebars #content-inner {
  padding-left: 235px; /* The width + left margin of #sidebar-left. */
  padding-right: 235px; /* The width + right margin of #sidebar-right. */
}
.node-full-view.sidebar-left #content-inner {
  padding-left: 235px; /* The width + left margin of #sidebar-left. */
  padding-right: 0;
}
.node-full-view.sidebar-right #content-inner {
  padding-left: 0;
  padding-right: 235px; /* The width + right margin of #sidebar-right. */
}
/*-------------------------------------------------------------------*/
/*                        Primary                                    */
/*-------------------------------------------------------------------*/
#primary,		 { padding: 0; }
#primary-inner   { margin: 0 0 0 0;}

/*-------------------------------------------------------------------*/
/*                             Sidebars                              */
/*-------------------------------------------------------------------*/
/** sidebar-left **/
#sidebar-left {
  float: left;
  width: 220px;
  margin-left: 0;
  margin-right: -220px; /* Negative value of #sidebar-left's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #sidebar-left-inner. */
}
/** sidebar-right **/
#sidebar-right {
  float:right;
  margin-left:-220px;
  padding:0;
  width:220px;

}
/*-------------------------------------------------------------------*/
/*                   Prevent overflowing content                     */
/*-------------------------------------------------------------------*/
#header,
#content,
#navbar,
#sidebar-left,
#sidebar-right,
#footer,
#closure-blocks {
  overflow: visible;
  word-wrap: break-word; /* A very nice CSS3 property */
}
/*-------------------------------------------------------------------*/
/*                             Clearing                              */
/*-------------------------------------------------------------------*/
/* Clearing floats without extra markup
   http://www.positioniseverything.net/easyclearing.html */
.clearfix:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}
.clearfix { display:inline-block; }
* html .clearfix { height: 1%; }
.clearfix        { display: block; }
/* Regular clearing */
.clear { clear:both; }