html {
  font-size: 100%; /*Fix a IE em BUG*/
}
body {
  background-color: #454545;
  font-family:arial;
  font-size:12px;
}
#teleco {
  font-family: "Trebuchet MS", "Helvetica neue", Helvetica, Arial, Verdana, sans-serif;
  font-size: 12px;
  color: #666;
  background-color: #454545;
  font-family:arial;
}
#page {
  line-height: 1.5em; 
  text-align: left;
  background: #fff;
  margin-top:25px;
  width:735px;
}
#content {
  text-align: left;
}
/*-------------------------------------------------------------------*/
/*                          Generic html elements                    */
/*-------------------------------------------------------------------*/
#sidebar-right h1, 
#sidebar-right h2, 
#sidebar-right h3, 
#sidebar-right h4, 
#sidebar-right h5, 
#sidebar-right h6 {
  margin-bottom: 0.3em;
  color:#fff;
}
#sidebar-left h1, 
#sidebar-left h2, 
#sidebar-left h3, 
#sidebar-left h4, 
#sidebar-left h5, 
#sidebar-left h6 {
  margin-bottom: 0.3em;
  color:#fff;
}
#footer h1, 
#footer h2, 
#footer h3, 
#footer h4, 
#footer h5, 
#footer h6 {
  margin-bottom: 0.3em;
  color:#fff;
}


h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.3em;
  color:SandyBrown;
}
h1 {
  font-family:Trebuchet MS;
  font-size:21px;
}
h1.title{
border-bottom:1px solid;
padding-bottom:10px;
margin-top:0px;
}
h2 {
  font-size: 1.2em;
}
h3, h4, h5, h6 {
  font-size: 1.1em;
}
p {
  margin-top: 0.4em;
  margin-bottom: 0.8em;
  color:#666;
  text-align:justify;
}
em {
  text-decoration: none;
  font-weight: normal;
}
fieldset legend,
.form-item label {
  font-size: 1em;
  font-weight: bold;
  color: #666;
}
#sidebar-left fieldset legend,
#sidebar-left .form-item label {
  font-size: 1em;
  font-weight: bold;
  color: #fff;
}
blockquote {
  margin: 4px 10px;
  padding: 10px 15px;
  background: #F9CBED;
}
abbr, acronym {
  border-bottom: none;
}
#mission, 
.node .content, 
.comment .content,
.breadcrumb {
  line-height: 1.5em;
}
.breadcrumb {
  color:#BED30B;
  font-weight:normal;
  padding:0px;
}
.breadcrumb a{
  font-weight:normal;
  color:#BED30B;
  font-size:1.1em;

}
.breadcrumb a:hover{
  color:#BED30B;
}
.breadcrumb a:visited, a.active:visited,
.breadcrumb a:link, a.active:link 
{
  color:#BED30B;
  font-size:1.1em;
}
/*-------------------------------------------------------------------*/
/*                             Lists                                 */
/*-------------------------------------------------------------------*/
ul {
  margin: 0;
  padding: 0 0 0 1em;
}
li {
  line-height: 1.6em;
  list-style:none;
}
li a, 
li a:visited, 
li a:active, 
li a:hover {
  font-weight: normal;
}
.item-list ul {
}
.item-list ul li {
  font-size: 11px;
}
.item-list .title {
  font-size: 1em;
}
ul.links li {
  margin: 0;
  padding: 0 2px;  
}
.comment .links {
  margin-bottom: 0;
}
.submitted {
  font-size: 0.9em;
  color: #666;
}
.links {
  color: #666;
}
.links a {
  font-weight: normal;
}
/* Menus */
li.leaf {
list-style:none;
}
li.collapsed {
list-style:none;
}
li.expanded {
list-style:none;
}
/*-------------------------------------------------------------------*/
/*                             Links                                 */
/*-------------------------------------------------------------------*/
a,
a.active {
  text-decoration: none;
  font-weight: bold;
  color: #669513;
  font-size:12px;
}
a:link, a.active:link {
  color: #669513;
  font-size:12px;
}
a:visited, a.active:visited {
  color: #669513;
}

a:hover, a.active:hover {
  text-decoration: none;
  color: #BED30B;
}
a:focus, a.active:focus {
  outline: none;
}
.block ul {
  margin:0;
  padding:0 0 0.25em 1em;
}
.block ul li.collapsed {
  margin:0;
  padding:0;
  list-style-image:url("../images/li-img.png");
}
.block ul li.expanded {
  margin:0;
  padding:0;
list-style-image:url("../images/li-img-expend.png");
}
.block ul li.leaf {
  margin:0;
  padding:0;
list-style-image:url("../images/li-img-leaf.png");
}
#header-blocks .block ul li,
#content-top .block ul li,
#content-bottom .block ul li{
  background:transparent url("../images/a-img.png") no-repeat scroll left center;
  font-size:11px;
  list-style-images:none;
  list-style-position:outside;
  list-style-type:none;
  padding-left:12px;
}
#sidebar-right .block ul li a, #sidebar-left .block ul li a{
  color:#FFFFFF;
  font-family:arial;
  font-size:10pt;
}
#sidebar-right .block ul li a.active, #sidebar-left .block ul li a.active{
  color:#FFFFFF;
  font-family:arial;
  font-size:10pt;
}
#sidebar-right .block ul li a:hover, #sidebar-left .block ul li a:hover{
  text-decoration: underline;
  color:#FFFFFF;
}

/*-------------------------------------------------------------------*/
/*                            Tables                                 */
/*-------------------------------------------------------------------*/
table, tr, td, thead, tbody {
  border-spacing: 0;
  border-collapse: collapse;
  border-width: 0px;
}
table {
  /* make <td> sizes relative to body size! */
  font-size: 1em;
  width: 100%;
  margin: 0 0 10px 0;
}
tr.odd td, tr.even td {
  padding: 0.4em;
}
tr.odd {
  background:SeaShell none repeat scroll 0 0;
}
tr.even {
  background: #FFF;
}
/*-------------------------------------------------------------------*/
/*                             Header                                */
/*-------------------------------------------------------------------*/
div#header {
  background:#fff url("../images/header-background.jpg") no-repeat top left;
  margin:0px;
}
#header-slide
{
  background:#373737 url("../images/support.jpg") no-repeat scroll 0 0;
  border-bottom:5px solid #373737;
  height:158px;
}
#logo {
  float:left;
  height:auto;
  margin:0 6px 0 0;
  #margin:0 3px 0 0;
  _margin:0 0 0 0;
  overflow:hidden;
  padding:22px 0 0 4px;
}
#logo img{
width:49px;
height:50px;
}
#site-name {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: left;
  overflow: visible;
}
#site-name a {
  color:#017512;
  font-family:Times New Roman;
  font-size:27px;
}
#site-name a:hover {
  text-decoration: none;
}
#site-slogan {
  color: #007514;
  font-size: 10px;
  line-height: 1em;
  text-align: left;
}
/* Primary Links */
#primary-inner {
  float:right;
  padding-right:10px;
}
#primary-inner ul {
}
#primary-inner ul li {
  background: transparent;
  float: left;
  list-style:none;
  margin-right:-2px;
  display:block;
}
#primary-inner ul li a {
  text-decoration:none;
  color:#333333;
  font-size:14px;
  font-weight:bold;
  font-family:Trebuchet MS;
  display:block;
}
#primary-inner li ul {
  position:absolute;
  background:#878881 none repeat scroll 0 0;
  z-index: 100;
  width:auto;
  height:auto;
  border:1px solid #9C9D95;
  border-bottom:1px solid #707167;
  list-style:none;
  margin-top:0px;
  display:none;
}

#primary-inner li ul li {
  background:#878881 none repeat scroll 0 0;
  margin-right:0;
  float:none;
  margin:0 0 0 -12px;
  padding:0px 0px 0px 0px;
  display:block;
  width:164px;
  border-bottom:1px solid #9C9D95;
  cursor:pointer;
  list-style:none;
  _margin-bottom:-3px;
  position:relative;
}
li.leaf {
  list-style-images:none;
}

#primary-inner ul li ul li.first a {
  color:#fff;
}
#primary-inner ul li ul li.first a:hover {
  color:#212121;
}

#primary-inner li ul li:hover {
  background:none;
  color:#212121;
}
#primary-inner li ul li.first {
}
#primary-inner li ul li.last {

}
#primary-inner ul li:hover ul, #primary-inner ul li.sfhover ul {
  display:block;
}
#primary-inner ul li:hover ul li ul, #primary-inner ul li.sfhover ul li ul {
  display:none;
}
#primary-inner li ul li.expanded {
background:url("../images/arrow-menu.gif") no-repeat scroll 153px 6px;
}
#primary-inner li ul li a {
  text-align:left;
  font-weight:normal;
  color:#fff;
  font-size:12px;
  display:block;
  cursor:pointer;
  display:block;
  padding:1px 0px 1px 6px;
}
#primary-inner li ul li a:hover {
  background:none;
  color:#212121;
}
/*
**** Sub Sub Menu
*/
#primary-inner li ul li ul{
  float:left;
  left:163px;
  list-style:none outside none;
  top:0;
  z-index:100;
  display:none;
}
#primary-inner li ul li ul li{
  border-bottom:1px solid #9C9D95;
  float:left;
  #float:none;
  list-style:none;
}
#primary-inner ul li ul li:hover ul, #primary-inner ul li ul li.sfhover ul {
  display:block;
}
#primary-inner ul li ul li:hover ul li ul, #primary-inner ul li ul li.sfhover ul li ul {
  display:none;
}
#primary-inner ul li ul li ul li:hover ul , #primary-inner ul li ul li ul li.sfhover ul {
  display:block;
}

#primary-inner ul li ul li ul li:hover ul li ul, #primary-inner ul li ul li ul li.sfhover ul li ul {
  display:none;
}
#primary-inner ul li ul li ul li ul li:hover ul , #primary-inner ul li ul li ul li ul li.sfhover ul {
  display:block;
}

#primary-inner ul li ul li ul li ul li:hover ul li ul, #primary-inner ul li ul li ul li ul li.sfhover ul li ul {
  display:none;
}
#primary-inner ul li ul li ul li ul li ul li:hover ul , #primary-inner ul li ul li ul li ul li ul li.sfhover ul {
  display:block;
}
#primary-inner li ul li.expanded ul li a{
float:none;
}
#primary-inner li ul li.expanded ul li a:hover{
color:#000;
}
#primary  li{
list-style-image:none;
}


/* Search box */
#search-box {
  background:url('../images/search-back.png') no-repeat;
  float:right;
  font-size:11px;
  height:35px;
  margin:0 10px 0 0;
  padding:10px 10px 0 0;
  position:relative;
  text-align:right;
  width:219px;
  #position:absolute;
}
#search-box #search-theme-form {
  #position:absolute;
}
#search-box #search-theme-form #edit-search-theme-form-1-wrapper input {
  background:none;
  border:none;
  height:18px;
  padding:3px 3px 4px;
  width:143px;
  #margin-left:-209px;
  #position:absolute;
}
#search-box .form-submit {
  background:#5D5E5D none repeat scroll 0 0;
  border:1px solid #888888;
  color:#B7D30B;
  cursor:pointer;
  font-family:arial;
  font-size:12px;
  font-weight:bold;
  margin-bottom:1px;
  margin-left:4px;
  padding:2px;
  #margin-left:-53px;
  #position:absolute;
  #width:53px;
}
#search-box .form-submit:hover {
  background:#5D5E5D none repeat scroll 0 0;
  border:1px solid #888888;
  color:#B7D30B;
  cursor:pointer;
  font-family:arial;
  font-size:12px;
  font-weight:bold;
  margin-bottom:1px;
  margin-left:4px;
  padding:2px;
  #margin-left:-53px;
  #position:absolute;
  #width:53px;
}
#search-box #edit-search-block-form-1-wrapper label {
  display:none;
}
#search-box .form-text {
  width: 10em;
  padding: 2px 2px;
  border: solid 1px #AAA;
}
#search-box label {visibility: hidden; display:none;}
#edit-search-theme-form-1-wrapper {display: inline;}
/*-------------------------------------------------------------------*/
/*                          Footer & Closure                         */
/*-------------------------------------------------------------------*/
#footer { min-height: 22px; }
#footer-message { padding: 0 0 3px 0; }
#closure-blocks {}

/*-------------------------------------------------------------------*/
/*                             Footer                                */
/*-------------------------------------------------------------------*/
#footer {
  background:#272621 none repeat scroll 0 0;
  border-top:3px solid #BED30B;
  color:#FFFFFF;
  font-size:12px;
  text-align:center;
}
#footer p{
  font-size:12px;
  color:#fff;
}
#footer a {
  text-decoration: none;
  font-weight: normal;
  color: #FFF;
  font-size:12px;
}
#footer .block {
  padding: 10px;
}
#footer .menu {
  margin:0 auto 0;
  padding:0;
  text-align:center;
}
#footer .menu li.first {
  border-left-width:0;
  margin-left:0;
  padding-left:0;
}
#footer .menu li {
  border-left:1px solid #fff;
  display:inline;
  margin:0 0 0 6px;
  padding:0 0 0 10px;
}
#footer .menu li a {
  color:#fff;
  margin:0;
  padding:0;
  text-decoration:none;
}
#footer .menu li a:hover {
  text-decoration:underline;
}


#footer ul.secondary-links {
padding:10px;
}
#footer ul.secondary-links {
  margin:0 auto 0;
  text-align:center;
}
#footer ul.secondary-links li.first {
  border-left-width:0;
  margin-left:0;
  padding-left:0;
}
#footer ul.secondary-links li {
  border-left:1px solid #fff;
  display:inline;
  margin:0 0 0 6px;
  padding:0 0 0 10px;
}
#footer ul.secondary-links li a {
  color:#fff;
  margin:0;
  padding:0;
  text-decoration:none;
}
#footer ul.secondary-links li a:hover {
  text-decoration:underline;
}


/*-------------------------------------------------------------------*/
/*                          Regular Blocks                           */
/*-------------------------------------------------------------------*/
.block .links {
  font-size: 11px;
}
.block .block-content {
overflow:hidden;
}
/*-------------------------------------------------------------------*/
/*                          Sidebar Blocks                           */
/*-------------------------------------------------------------------*/
#sidebar-left .block-wrapper {
  margin-bottom:10px;
  border-color:-moz-use-text-color;
  border-style:solid solid solid none;
  border-width:4px 4px 4px medium;
  background:#272621 none repeat scroll 0 0;
}
#sidebar-right .block-wrapper{
  background:#272621 none repeat scroll 0 0;
  border-color:-moz-use-text-color;
  border-style:solid none solid solid;
  border-width:4px medium 4px 4px;
  margin-bottom:10px;
}
#sidebar-left {
  float:left;
  margin-right:-220px;
  padding:0;
  width:220px;
}
.page-admin-build-block #sidebar-left {
_margin-left:-58px;
}
#sidebar-left p, #sidebar-right p {
  color:#fff;
}
#sidebar-left .block,
#sidebar-right .block {
}
#sidebar-left .block,
#sidebar-right .block {
}
#sidebar-left h2.block-title,
#sidebar-right h2.block-title {
}
#sidebar-left .block-inner,
#sidebar-right .block-inner {
}
#sidebar-left .block-content,
#sidebar-right .block-content {
}
#sidebar-left .block-content-inner,
#sidebar-right .block-content-inner {
  margin: 0;
  padding:0 10px 10px 10px;
  color:#fff;
}
.block h2.block-title {
  color:#FFFFFF;
  font-family:Trebuchet MS;
  font-size:17px;
  font-weight:bold;
  height:22px;
  margin:0;
  padding:5px 0 0 5px;
}
#content-top .block h2.block-title, 
#content-area .block h2.block-title, 
#content-bottom .block h2.block-title,
#header-blocks .block h2.block-title,
#slide .block h2.block-title  {
  background:#272621 none repeat scroll 0 0;
  color:#fff;
  font-family:Trebuchet MS;
  font-size:17px;
  font-weight:normal;
  height:22px;
  margin:0;
  padding:5px 0 0 5px;
  text-align:left;
}
.block h3 {
  padding: 0 3px;
  font-size: 12px;
}
.block ul.links {
  margin:0;
  padding:0 0 5px;
}
.block ul.links li {
  font-size: 10px;
}
/* blocks showing nodes, e.g help out views blocks */
.block .node h2.title {
  font-size: 13px;
}
.block .node {
  padding: 5px 5px 0;
}
.block .node,
.block .node .node-inner-0,
.block .node .node-inner-1,
.block .node .node-inner-2,
.block .node  .node-inner-3
.block .sticky,
.block .sticky .node-inner-0,
.block .sticky .node-inner-1,
.block .sticky .node-inner-2,
.block .sticky .node-inner-3 {
  background: #FFF;
}
/*-------------------------------------------------------------------*/
/*                                Poll                               */
/*-------------------------------------------------------------------*/
.poll .bar {
  background-color: #EEE;
  border: solid 1px #AAA;
}
.poll .bar .foreground {
}
/*-------------------------------------------------------------------*/
/*                               Node                                */
/*-------------------------------------------------------------------*/
select.form-select, input.form-text, textarea.form-textarea{
  -moz-background-clip:border;
  -moz-background-inline-policy:continuous;
  -moz-background-origin:padding;
  -moz-border-radius-bottomleft:4px;
  -moz-border-radius-bottomright:4px;
  -moz-border-radius-topleft:4px;
  -moz-border-radius-topright:4px;
  background:SeaShell none repeat scroll 0 0;
  border:1px solid #BED30B;
  padding:4px;
}
fieldset {
  border:1px solid #BED30B;
}
#content-area .node {
  margin: 0;
  padding: 0;
  background: #FFF;
}
.node-full-view .node h1.title, 
.node h2.title {
  margin: 0;
  padding-top: 0px;
  padding-bottom: 2px;
  border-bottom: solid 1px #BBB;
}
.node h2.title {
  font-size: 18px;
}
.node h2.title a:hover {
  text-decoration: none;
  color: #AC2E82;
}
.node .picture {
  border: none;
  float: right;
  margin: 0.5em;
}
.node-full-view .node .submitted {
  color: #666;
  margin: 0; 
  padding: 0;
}
.node-full-view .node .content {
  clear: both;
  margin: 1em 0 0.5em 0;
}
.node .taxonomy {
  font-size: 0.9em;
}
.node-full-view .node .taxonomy {
  margin: 0; 
  padding: 0;
}
.node-full-view .node .taxonomy li {
  padding: 1px 5px;
}
.node-full-view .node .actions ul li {
  margin: 0;
  padding: 0;
}
.node .actions {
  text-align: right;
}
/* Node Teaser */
#content-area .node-teaser { 
  margin: 0 0 15px;
  padding: 0;
  border: none;
  overflow: hidden;
}
#content-area .node-teaser .node-inner-0 { 
  margin: 0;
  padding: 10px 0 0;
  overflow: hidden;
}
#content-area .node-teaser .node-inner-1 { 
  margin: 0;
  padding: 0 0 0 10px;
  overflow: hidden;
}
#content-area .node-teaser .node-inner-2 { 
  margin: 0;
  padding: 0 10px 10px 0;
  overflow: hidden;
}
/* Add padding and margin to node elements */
#content-area .node-teaser h2.title       { margin: 5px 10px; padding: 0 0 3px 0; }
#content-area .node-teaser .submitted     { margin: 0 10px; padding: 0; }
#content-area .node-teaser .taxonomy      { margin: 0 10px; padding: 0; }
#content-area .node-teaser .content       { margin: 10px; padding: 0; }
#content-area .node-teaser .actions ul li { margin: 0 10px 0 0; padding: 0; }
/* sticky node-teaser */
#content-area .node-teaser.sticky {
  padding: 0;
  margin: 0 0 15px 0;
}
#content-area .node-teaser.sticky .node-inner-0 {
  padding: 0;
  margin: 0;
}
#content-area .node-teaser.sticky .node-inner-1 {
  padding: 0;
  margin: 0;
}
#content-area .node-teaser.sticky .node-inner-2 {
  padding: 0;
  margin: 0;
}
#content-area .node-teaser.sticky .node-inner-3 {
  padding: 0;
  margin: 0;
}
/* Over ride padding and margin for stickty node elements */
#content-area .node-teaser.sticky h2.title       { margin: 0 20px 5px; padding: 10px 0 3px 0; }
#content-area .node-teaser.sticky .submitted     { margin: 0 20px; padding: 0; }
#content-area .node-teaser.sticky .taxonomy      { margin: 0 20px; padding: 0; }
#content-area .node-teaser.sticky .content       { margin: 10px 20px; padding: 0; }
#content-area .node-teaser.sticky .actions       { margin: 0 10px; padding: 0 0 10px; }
#content-area .node-teaser.sticky .actions ul li { margin: 0 10px 10px 0; padding: 0; }
/*-------------------------------------------------------------------*/
/*                              Comments                             */
/*-------------------------------------------------------------------*/
.comment {
  border: none;
  background: #FFF;
  padding: 0;
  margin: 0 0 10px 0;
  border:10px solid SeaShell;
  padding:10px;
}
.comment h3.title {
}
.comment .title a {
  font-size: 1.2em;
  font-weight: bold;
}
.comment .new {
  padding-right: 10px;
  text-align: right;
  font-weight: bold;
  font-size: 0.8em;
  float: right;
  color: red;
}
.comment .picture {
  border: none;
  float: left;
  margin: 15px 0 0 20px;
}
.comment .comment-id {
  font-size: 16px;
  font-weight: bold;
  padding-right: 10px;
}
.comment .submitted {
  color: #666;
  font-size: 11px;
}
.comment div.links {
  text-align: right;
}
#comments .odd {
  padding: 0;
  margin: 0;
}
#comments .odd .comment-inner-0 {
  padding: 0;
  margin: 0;
}
#comments .odd .comment-inner-1 {
  padding: 0;
  margin: 0;
}
#comments .odd .comment-inner-2 {
  padding: 0;
  margin: 0;
}
#comments .odd .comment-inner-3 {
  padding: 0;
  margin: 0;
}
/* Over ride padding and margin for comment elements */
.comment h3.title     { margin: 0 20px 5px; padding: 10px 0 3px 0; }
.comment .submitted   { margin: 0 20px; padding: 0; }
.comment .content     { margin: 10px 20px; padding: 0; }
.comment .content.with-picture { margin-left: 115px; }
.comment div.links       { margin: 0; padding: 0 0 10px; }
.comment div.links ul li { margin: 0 20px 10px 20px; padding: 0; }
/*-------------------------------------------------------------------*/
/*                            Aggregator                             */
/*-------------------------------------------------------------------*/
#aggregator .feed-source {
  background-color: #EEE;
  border: 1px solid #CCC;
  padding: 1em;
  margin: 1em 0;
}
#aggregator .news-item .categories, 
#aggregator .source, 
#aggregator .age {
  font-style: italic;
  font-size: 0.9em;
}
#aggregator .title {
  margin-bottom: 0.5em;
  font-size: 1em;
}
#aggregator h3 {
  margin-top: 1em;
}
/*-------------------------------------------------------------------*/
/*                               Forum                               */
/*-------------------------------------------------------------------*/
#forum {
  margin: 15px 0;
}
#forum td.container {
  background: #DDD;
}
#forum thead, 
#forum tbody {
  border: solid 0 #FFF;
}
td.icon {
  text-align: center;
}
#forum td.forum {
}
#forum td.last-reply {
  background: none;
}
#forum .name a {
}
#forum .description {
}
.block-forum h3 {
  margin-bottom: .5em;
}
div.forum-topic-navigation a.topic-next {
  text-align: right;
}
div.forum-topic-navigation a.topic-previous {
  text-align: left;
}
/*-------------------------------------------------------------------*/
/*                              Profile                              */
/*-------------------------------------------------------------------*/
#profile .profile {
  clear: both;
  border: 1px solid #AAA;
  padding: .5em;
  margin: 1em 0em;
}
#profile .profile .name {
  padding-bottom: 0.5em;
}
.block-forum h3 {
  margin-bottom: .5em;
}
/*-------------------------------------------------------------------*/
/*                             Administer                            */
/*-------------------------------------------------------------------*/
div.admin, div.admin .left, div.admin .right {
  margin: 0;
  padding: 3px;
  overflow: hidden;
}
#node-form .admin
{
  padding:0px;
}
div.admin-panel {
  margin-bottom: 15px;
  background: #fdeaf7;
}
div.admin-panel a {
  font-weight: normal;
  overflow: hidden;
}
div.admin-panel .description {
}
div.admin-panel .body {
  font-size: 11px;
  background:SeaShell none repeat scroll 0 0;
}
div.admin-panel h3 {
  padding: 5px 8px 5px;
  margin: 0;
  background: #EB5AC3;
  color: #FFF;
  background:#272621 none repeat scroll 0 0;
}
div.help {
  margin: 0;
  padding: 2px 5px;
  margin-top: 5px;
}
/*-------------------------------------------------------------------*/
/*                                Pager                              */
/*-------------------------------------------------------------------*/
div.item-list ul.pager li {
background:none repeat scroll 0 0 #272621;
}
ul.pager {
  padding: 5px 0;
  margin: 0;
}
ul.pager li a, 
ul.pager li a:visited, 
ul.pager li a:active, 
ul.pager li a:hover {
  font-weight: bold;
  background:none repeat scroll 0 0 #272621;
  color:#BED30B;

}
div.item-list ul.pager li.pager-current {
  background:none repeat scroll 0 0 #272621;
  color:#BED30B;
  padding: 3px;
}
.pager a {
  background: #F9CBED;
  padding: 3px;
}
.pager a:hover {
  background: #D9ABCD;
  padding: 3px;
}
/*-------------------------------------------------------------------*/
/*                                Tabs                               */
/*-------------------------------------------------------------------*/
.tabs {
  font-size: 12px;
  color:#666666;
}
.tabs a {
  font-weight: normal;
  line-height: 2.2em;
}
.tabs ul {
  padding-left: 5px;
  border-bottom: solid 0px #FFF;
  margin-bottom: 10px;
}
.tabs ul li {
}
.tabs ul li a {
  margin: 0;
  padding: 4px 10px;
  color:#666666;
  background:none;
  border:none;
}
.tabs ul li a:hover {
  background:SeaShell none repeat scroll 0 0;
  border-bottom:3px solid #BED30B;
  color:#666666;
}
.tabs a:visited, a.active:visited {
  color:#666666;
}
.tabs ul li a.active, .tabs ul li.active a {
  color:#666666;
  background:SeaShell none repeat scroll 0 0;
  border-bottom:3px solid #BED30B;
  border-top:none;
  border-left:none;
  border-right:none;
}
.tabs ul li a.active:hover {
  background:SeaShell none repeat scroll 0 0;
  border-bottom:3px solid #BED30B;
  color:#666666;
}
ul.secondary {
}
ul.secondary li {
  font-size: 11px;
  border: solid 0px #FFF;
}
ul.secondary li a {
  margin: 0 2px 0 0;
  padding: 2px 4px;
  border: solid 1px #EEE;
}
/*-------------------------------------------------------------------*/
/*                      Archive Calendar Block                       */
/*-------------------------------------------------------------------*/
.sidebar .block-archive .block-content {
  padding: 10px 15px 10px 5px;
}
.sidebar .block-archive .block-content tr {
  background: none;
  border: solid 0px #FFF;
}
.sidebar .block-archive .block-content table td {
  border: solid 1px #E9BBDD;	/* a bit darker than block background */
  padding: 1px 2px;
  text-align: center;
}
/*******************************************************************
* Color Module: Don't touch                                        *
*******************************************************************/
/*-------------------------------------------------------------------*/
/*                              Top bar, Mission                              */
/*-------------------------------------------------------------------*/
#top-bar{
  background:#272621 none repeat scroll 0 0;
  border-top:3px solid;
  color:#BED30B;
  padding:2px 5px;
}
#mission{
  color:#BED30B;
  font-size:1.1em;
}
/*-------------------------------------------------------------------*/
/*                        Book Navigation                            */
/*-------------------------------------------------------------------*/
.box {
  background: SeaShell none repeat scroll 0 0;
  padding: 5px;
  padding: 10px;
}
.box h2 {
  padding-bottom: 2px;
  border-bottom: solid 1px #AAA;
}
.book-navigation {
  padding-bottom: 5px;
}
.book-navigation ul.menu {
  padding-top: 5px;
  padding-bottom: 5px;
}
div.page-links a.page-previous,
div.page-links a.page-next {
  width: 40%;
}
div.page-links a.page-up {
  width: 19%;
}
/*-------------------------------------------------------------------*/
/*                        images Galleries                            */
/*-------------------------------------------------------------------*/
ul.galleries li {
  border: solid 1px #AAA;
  background: #FFF;
}
ul.galleries li h3 a {
  font-size: 1.1em;
  font-weight: bold;
}
ul.imagess {
  border: solid 1px #AAA;
  overflow: hidden;
}
ul.imagess li {
  text-align: center;
}
ul.imagess li h3 {}
/*-------------------------------------------------------------------*/
/*                           Misc others                             */
/*-------------------------------------------------------------------*/
#search-box label.overlabel-apply {
  color: #999; 
}
button, .pushbutton, .form-submit, .teaser-button {
  background:url('../images/button.png') repeat-x;
  border:1px solid #888888;
  color:#B7D30B;
  cursor:pointer;
  font-family:arial;
  font-size:12px;
  font-weight:bold;
  margin:0px 0px 10px 4px;
  padding:3px;
}
button:hover, .pushbutton:hover, .form-submit:hover, .teaser-button:hover {
  background:url('../images/button-hover.png') repeat-x;
  border:1px solid #888888;
  color:#B7D30B;
  cursor:pointer;
  font-family:arial;
  font-size:12px;
  font-weight:bold;
  margin:0px 0px 10px 4px;
  padding:3px;
}
/*-------------------------------------------------------------------*/
/*                          Misc for Contents                        */
/*-------------------------------------------------------------------*/
/* Uncomment to support wrapping on pre elements.
   The commented styles do not validate */
pre {
  /* white-space: pre-wrap;       css-3 */
  /* white-space: -moz-pre-wrap;  Mozilla, since 1999 */
  /* white-space: -pre-wrap;      Opera 4-6 */
  /* white-space: -o-pre-wrap;    Opera 7 */
  /* word-wrap  : break-word;     Internet Explorer 5.5+ */
  line-height: 1.5em;
  color: #000;
  font-family: "Lucida Console", Monaco, "Courier New", Courier, monospace;
}
/*-------------------------------------------------------------------*/
/*                              Messages                             */
/*-------------------------------------------------------------------*/
div.messages {
  font-weight: bold;
  margin-bottom: 1.5em;
  padding: 10px 10px 10px 52px;
}
#help {
  font-size: 0.9em;
  margin-bottom: 1em;
}
.status {
  color: #264409;
  background: #E6EFC2 url("../images/large-info.png") no-repeat 12px center;
  border: 1px solid #C6D880;
  padding: 5px 10px;
}
div.error { 
  background: #FBE3E4 url("../images/large-stop.png") no-repeat 12px center; 
}
div.notice { 
  color: #514721; 
  background: #FFF6BF url("../images/large-info.png") no-repeat 12px center; 
  border-color: #FFD324; 
}
div.warning, tr.warning {
  border: 1px solid #F0C020;
  background: #FFFFDD url("../images/large-alert.png") no-repeat 12px center;
		margin: 0 0 1em;
  padding: 1em 0 1em 5em;
}
.error a    { color: #8a1f11; text-decoration: underline; }
.notice a   { color: #514721; text-decoration: underline; }
.success a  { color: #264409; text-decoration: underline; }

span.admin-disabled {
  color: #DC1000;
}
div.messages.success {
  color: #55872E;
  background: #F1F8EB;
  border: 1px solid #7AC142; 
}
div.messages ul {
  margin-bottom: 0;
}
div.node .unpublished,
div.comment .unpublished {
  font: bold 2em Arial, Helvetica, sans-serif;
  text-align: left;
  color: #FFCCCC;
  background: #FFF4F4 url("../images/large-alert.png") no-repeat 12px center;
  padding: 5px 0 5px 52px;
  margin: 5px 0;
  border: none;
}
/*-------------------------------------------------------------------*/
/*                              Admin                                */
/*-------------------------------------------------------------------*/
.tips {
  margin: 0 0 0 1.35em;
}

/*---------------------------------------------------------------------*/
/*                              News Region                            */
/*---------------------------------------------------------------------*/
#site_slogan p
{
  margin:6px 0 0;
  padding:5px 5px 0;

}
#header-last
{
float:right;
}
/*
****  Secondary Links
*/
#secondary-links {
  background:url('../images/secondarymenu-background.png') no-repeat;
  height:32px;
  width:735px;
  height:30px;
}
#secondary-links ul {
  padding:6px 16px 0;
}
#secondary-links li {
}
#secondary-links a {
  border-right:1px solid white;
  color:#212121;
  font-family:Trebuchet MS;
  font-size:17px;
  font-weight:bold;
  padding:0 30px 6px 4px;
  text-align:center;
  text-decoration:none;
}
#secondary-links a:hover {
}
#user-login-form {
  text-align:left;
  margin-bottom:10px;
}
#user-login-form label {
  color:#fff;
}
#user-login-form #edit-name-wrapper input {
  width:162px;
}
#user-login-form #edit-pass-wrapper input {
  width:162px;
}

#user-login-form #edit-submit-1 {
  margin-left:148px;
}
#user-login-form .item-list {
  margin-right:9px;
}
